{{define "head"}}
<head>
    <title>Epiphron</title>
    <link href="/static/css/epiphron.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/epiphron.js"></script>
</head>
{{end}}